body{
    width:100%;
    height:100%;
    margin: 0;
}
.headtitle{
    margin-top: 130px;
    
}
.headtitle h1{
    text-align:center;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0 360px;
}
.container{
    display: flex;
    background-color: black;
    height:90px;
    width:100%;
    align-items: center;
    position: fixed;
    top: 0;
    
    
}
.search{
    object-fit: contain;
    width:30px;
    padding:0 10px;
}
.input{
    
    width:100%;
    margin-left: 20%;   /*  change here */
    
}
.head_button{
    
    margin-right: 90px;
}
.in_div{
    display: flex;
    width:50%;
    text-align: center;
    background-color:rgb(255, 0, 0);
    border-radius: 90px;
}

.index_input{
    height:30px;
   
    outline: none;
    border:none;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.head_title{
    /* background-color: aqua; */
    
    color:rgb(255, 255, 255);
    padding-left: 50px;
    font-size:30px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head_down{
    color: rgb(255, 255, 255);
    text-align: right;
    margin-top: -23px;
    font-size: 20px;   
    background-color: red;
    padding-right:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cards{
    display:flex;
    margin: 60px;
    flex-wrap: wrap;
    
}
.subcard{
    text-align:center;
    border: 1px solid black;
    padding:20px;
    margin: 10px 15px;
    width:130px;
    height:160px;
   
}
.subcard img{
    object-fit: contain;
    width:100px;
}
.subcard p{
    font-size:20px;
}
.cards :hover{
    background-color:beige;
}
.link{
    text-decoration: none;
    color:black;
}
.mobile{
    display:none;
}
.footer{
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    body {
        font-family: 'Poppins', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color:rgb(0, 0, 0);
        max-width: 90%;
        max-height: 90%;
    }
    .mobile {
        display:grid;
        place-items: center;
       
        
        height:100vh;
       
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 12px 48px;
  
  background: linear-gradient(to right, #4d4d4d 0, rgb(255, 255, 255) 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
    }
    
@keyframes shine{
    0%{
        background-position: 0;
      }
      60%{
        background-position: 180px;
      }
        100%{
            background-position: 360px;
        }
}
.head_button{
    margin-left: 40px;
}
.search{
    display: none;
}
.input{
    display: none;
}
.cards{
    display: none;
}
 .footer{
     position: absolute;
     bottom:0;
     left: 25%;
 }.footer a{
     text-decoration: none;
     color:blue;
 }
    .footer span{
        color:white;
    }
    .actual{
        display:none;
    }
  }